@keyframes slideInFromLeft {
  0% {
    transform: translateX(-15px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

div {  
  animation: 0.8s ease-out 0s 1 slideInFromLeft;
}
body {
  background-color: #202020;
  padding: 5px;
  color:#00ff9d;
  font-family: "Lato", sans-serif;
} 
a {
  transition: 0.2s;
}
a:hover  {
  border-radius: 10px;
  background-color: rgb(29, 161, 242, 0.1);
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: menu;
}

.item3 {
  grid-area: main;
  height: 100%;
}

.item4 {
  grid-area: right;
}

.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "list header header header ."
    "menu main main main right"
    "footer footer footer footer footer";
  grid-gap: 100px;
  max-width: 100%;
  background-size: 100%;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  padding: 30px;
  max-width: 100%;
  font-size: 30px;
}

.topnav {
  overflow: hidden;
  background-color: #202020;
  border-radius: 25px;
  border: 2px solid #9400FF;
  transition: 0.5s;
}

.topnav a {
  float: left;
  color: #00ff9fbd;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 25px;
  border: 2px solid #20202000;
}

.topnav a:hover {
  background-color: #9500ff69;
  color: #00ff9fbd;
}

.topnav a:hover svg {
  animation: iconJump 0.5s ease-in-out 1;
}


@keyframes iconJump {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-.5em);
    }
    100% {
        transform: none;
    }
}

.topnav a.active {
  background-color: #00ff9fbd;
  color: #000000;
}

* {
  Margin: 0;
  padding: 0;
}

a {
  color: #ffffffa3;
}

.mobile_device_480px {
  display: none;
}

@media only screen and (max-device-width: 480px) {
  .mobile_device_480px {
    display: block;
  }       
  .desktop {
    display: none;
  }
} 


.sidenav {
  height: 500px;
  width: 650px;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 15%;
  left: 30%;
  color: transparent;
  transition: 0.5s;
  border-radius: 25px;
  border: 2px solid;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ffffffa3;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}