ul {
  padding: 7px;
  width: max-content;
  position: sticky;
  top: 10px;
  margin: 35px auto;
  border-radius: 12px;
}

li {
  display: inline;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  transition: 1s;
}

.wrapper {
  min-height: 98vh;
  display: flex;
  align-items: center;
  margin: 10px;
}

.inner {
  padding: 20px;
  background: rgba(255, 255, 255, 0.26);
  margin: 0 auto;
}

.inner .image-holder {
  width: 50%;
}

.inner form {
  width: 360px;
  margin: 0 auto;
}

.inner h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Poppins-SemiBold";
  text-align: center;
  margin-bottom: 28px;
}

@media (max-width: 1199px) {
  .wrapper {
    background-position: right center;
  }
}

@media (max-width: 991px) {
  .inner form {
    padding-top: 10px;
  }
}

@media (max-width: 767px) {
  .inner {
    display: block;
  }

  .inner .image-holder {
    width: 100%;
  }

  .inner form {
    padding: 40px 0 30px;
  }
}

a {
  transition: 1s;
  background-color: transparent;
  border-radius: 5px;
}

a:hover {
  background-color: #d9d9d9;
}

* {
  box-sizing: border-box;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9,
.div10,
.div11,
.div12 {
  opacity: 1;
  transition: 0.3s;
}

.div1-,
.div2-,
.div3-,
.div4-,
.div5-,
.div6-,
.div7-,
.div8-,
.div9-,
.div10-,
.div11-,
.div12- {
  opacity: 0;
  transition: 0.3s;
}

@keyframes toright {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}

.container {
  width: 100%;
  background-color: #ddd;
  border-radius: 20px;
}

.html1 {
  width: 95%; 
  background-color: #ff4500;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
  animation: html1 2s;
}

@keyframes html1 {
  from {
    width: 95%;
  }
  to {
    width: 0%;
  }
}

.css1 {
  width: 85%; 
  background-color: #0096dc;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
  animation: css1 2s;
}

@keyframes css1 {
  from {
    width: 85%;
  }
  to {
    width: 0%;
  }
}

.js1 {
  width: 60%; 
  background-color: #f7e018;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
  animation: js1 2s;
}

@keyframes js1 {
  from {
    width: 60%;
  }
  to {
    width: 0%;
  }
}


.php1 {
  width: 5%; 
  background-color: #8993c1;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
  animation: php1 2s;
}


@keyframes php1 {
  from {
    width: 5%;
  }
  to {
    width: 0%;
  }
}

.html {
  width: 95%; 
  background-color: #ff4500;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
  animation: html 2s;
}

@keyframes html {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}

.css {
  width: 85%; 
  background-color: #0096dc;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
  animation: css 2s;
}

@keyframes css {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}

.js {
  width: 60%; 
  background-color: #f7e018;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
  animation: js 2s;
}

@keyframes js {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

.php {
  width: 5%; 
  background-color: #8993c1;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
  animation: php 2s;
}

@keyframes php {
  from {
    width: 0%;
  }
  to {
    width: 5%;
  }
}
