p, h1 {
  color: blue;
}
.Controls {
  width: 216px;
  margin-top: 25px;
  margin-left: -10px;
}
.cube-container {
  height: 250px;
  top: 30%;
  left: 30%;
  perspective: 1000px;
  perspective-origin: 65%;
  position: absolute;
  width: 280px;
}
.cube {  
  transform-style: preserve-3d;
  animation: spin 10s linear infinite;
  height: 130%;
  width: 145%;
}
.cube-free {
  height: 130%;
  width: 145%;
  transform-style: preserve-3d;
  transition: transform 0.2s;
}
.cube-container-free {
  height: 250px;
  top: 30%;
  left: 30%;
  perspective: 1000px;
  perspective-origin: 65%;
  position: absolute;
  width: 280px;
}
.side {
  border: 1px solid #00000038;
  background-color: #00f3ffb8;
  height: 200px;
  position: absolute;
  width: 200px;
}
.triangle {
  background: none;
  width: 0;
  height: 0;
  border-top: 62px solid #00f3ffb8;
  border-right: 75px solid transparent; 
}
.leftfrontpanel {
  transform: rotateX(180deg)  translateZ(110px) translateY(-165px) translateX(75px);
  height: 10px;
  width: 180px;
}
.rightfrontpanel {
  transform: rotateX(-180deg) translateZ(-110px) translateY(-165px) translateX(75px);
  height: 10px;
  width: 180px;
}
.leftfrontpanel2 {
  transform: rotateX(180deg)  translateZ(75px) translateY(-165px) translateX(255px);
  height: 10px;
  width: 109px;
}
.rightfrontpanel2 {
  transform: rotateX(-180deg) translateZ(-75px) translateY(-165px) translateX(255px);
  height: 10px;
  width: 109px;
}
.leftfrontpanel3 {
  transform: rotateX(180deg)  translateZ(101px) translateY(-165px) translateX(365px);
  height: 10px;
  width: 10px;
}
.rightfrontpanel3 {
  transform: rotateX(-180deg) translateZ(-101px) translateY(-165px) translateX(365px);
  height: 10px;
  width: 10px;
}
.right {
  transform: rotateX(-180deg) translateZ(-110px) translateY(-100px) translateX(-50px);
  height: 75px;
  width: 22px;
}
.bottomfront {
  transform: rotateX(-90deg) translateZ(168px) translateY(102.5px) translateX(265px);
  height: 35px;
  width: 90px;
  background-color: #000 !important;
}
.bottomfront2 {
  transform: rotateX(-90deg) translateZ(168px) translateY(-102.5px) translateX(265px);
  height: 35px;
  width: 90px;
  background-color: #000 !important;
}
.bottomback {
  transform: rotateX(-90deg) translateZ(168px) translateY(102.5px) translateX(-20px);
  height: 35px;
  width: 90px;
  background-color: #000 !important;
}
.bottomback2 {
  transform: rotateX(-90deg) translateZ(168px) translateY(-102.5px) translateX(-20px);
  height: 35px;
  width: 90px;
  background-color: #000 !important;
}
.topfront {
  transform: rotateX(-90deg) translateZ(92px) translateY(102.5px) translateX(265px);
  height: 35px;
  width: 90px;
  background-color: #000 !important;
}
.topfront2 {
  transform: rotateX(-90deg) translateZ(92px) translateY(-102.5px) translateX(265px);
  height: 35px;
  width: 90px;
  background-color: #000 !important;
}
.topback {
  transform: rotateX(-90deg) translateZ(92px) translateY(102.5px) translateX(-20px);
  height: 35px;
  width: 90px;
  background-color: #000 !important;
}
.topback2 {
  transform: rotateX(-90deg) translateZ(92px) translateY(-102.5px) translateX(-20px);
  height: 35px;
  width: 90px;
  background-color: #000 !important;
}
.frontwheel {
  transform: rotateY(90deg) translateZ(338px) translateY(110px) translateX(102.5px);
  height: 75px;
  width: 35px;
  background-color: #000 !important;
}
.frontwheel2 {
  transform: rotateY(90deg) translateZ(338px) translateY(110px) translateX(-102.5px);
  height: 75px;
  width: 35px;
  background-color: #000 !important;
}
.backwheel {
  transform: rotateY(90deg) translateZ(248px) translateY(110px) translateX(-102.5px);
  height: 75px;
  width: 35px;
  background-color: #000 !important;
}
.backwheel2 {
  transform: rotateY(90deg) translateZ(248px) translateY(110px) translateX(102.5px);
  height: 75px;
  width: 35px;
  background-color: #000 !important;
}
.frontwheel3 {
  transform: rotateY(90deg) translateZ(53px) translateY(110px) translateX(102.5px);
  height: 75px;
  width: 35px;
  background-color: #000 !important;
}
.frontwheel4 {
  transform: rotateY(90deg) translateZ(-38px) translateY(110px) translateX(102.5px);
  height: 75px;
  width: 35px;
  background-color: #000 !important;
}
.backwheel3 {
  transform: rotateY(90deg) translateZ(53px) translateY(110px) translateX(-102.5px);
  height: 75px;
  width: 35px;
  background-color: #000 !important;
}
.backwheel4 {
  transform: rotateY(90deg) translateZ(-38px) translateY(110px) translateX(-102.5px);
  height: 75px;
  width: 35px;
  background-color: #000 !important;
}
.leftwheel {
  transform: rotateX(-180deg) translateZ(85px) translateY(-110px) translateX(265px);
  height: 75px;
  width: 90px;
  background-color: #000 !important;
}
.topwheel {
  transform: rotateX(-180deg) translateZ(-85px) translateY(-110px) translateX(265px);
  height: 75px;
  width: 90px;
  background-color: #000 !important;
}
.topwheel2 {
  transform: rotateX(-180deg) translateZ(85px) translateY(-110px) translateX(-20px);
  height: 75px;
  width: 90px;
  background-color: #000 !important;
}
.leftwheel2 {
  transform: rotateX(-180deg) translateZ(-85px) translateY(-110px) translateX(-20px);
  height: 75px;
  width: 90px;
  background-color: #000 !important;
}
.leftwheel3 {
  transform: rotateX(-180deg) translateZ(120px) translateY(-110px) translateX(-20px);
  height: 75px;
  width: 90px;
  background-color: #000 !important;
}
.leftwheel4 {
  transform: rotateX(-180deg) translateZ(-120px) translateY(-110px) translateX(-20px);
  height: 75px;
  width: 90px;
  background-color: #000 !important;
}
.leftwheel5 {
  transform: rotateX(-180deg) translateZ(120px) translateY(-110px) translateX(265px);
  height: 75px;
  width: 90px;
  background-color: #000 !important;
}
.leftwheel6 {
  transform: rotateX(-180deg) translateZ(-120px) translateY(-110px) translateX(265px);
  height: 75px;
  width: 90px;
  background-color: #000 !important;
}
.leftwheel7 {
  transform: rotateX(-180deg) translateZ(120px) translateY(-110px) translateX(-20px);
  height: 75px;
  width: 90px;
  background-color: #000 !important;
}
.leftwheel8 {
  transform: rotateX(-180deg) translateZ(-120px) translateY(-110px) translateX(-20px);
  height: 75px;
  width: 90px;
  background-color: #000 !important;
}
.leftwheel9 {
  transform: rotateX(-180deg) translateZ(120px) translateY(-110px) translateX(265px);
  height: 75px;
  width: 90px;
  background-color: #000 !important;
}
.leftwheel10 {
  transform: rotateX(-180deg) translateZ(-120px) translateY(-110px) translateX(265px);
  height: 75px;
  width: 90px;
  background-color: #000 !important;
}
.triangle {
  transform: rotateX(-180deg) translateZ(-110px) translateY(-119px) translateX(75px);
}
.triangle2 {
  transform: rotateX(-180deg) translateZ(110px) translateY(-41px) translateX(75px);
}
.right2 {
  transform: rotateX(-180deg) translateZ(-75px) translateY(-100px) translateX(-27px);
  height: 75px;
  width: 100px;
}
.left {
  transform: rotateX(180deg) translateZ(110px) translateY(-100px) translateX(-50px);
  height: 75px;
  width: 22px;
}
.left2 {
  transform: rotateX(-180deg) translateZ(75px) translateY(-100px) translateX(-27px);
  height: 75px;
  width: 100px;
}
.back {
  transform: rotateY(-90deg) translateZ(160px) translateY(100px);
  height: 75px;
  width: 220px;
}
.back2 {
  transform: rotateY(-90deg) translateZ(138px) translateY(100px);
  height: 75px;
  width: 220px;
}
.back3 {
  transform: rotateY(-90deg) translateZ(36px) translateY(100px);
  height: 75px;
  width: 220px;
}
.front {
  transform: rotateY(90deg) translateZ(274px) translateY(165px);
  height: 10px;
}
.behindfront {
  transform: rotateY(90deg) translateZ(352px) translateY(165px) translateX(88px);
  height: 10px;
  width: 25px;
}
.behindfront2 {
  transform: rotateY(90deg) translateZ(352px) translateY(165px) translateX(-88px);
  height: 10px;
  width: 25px;
}
.behindback {
  transform: rotateY(90deg) translateZ(238px) translateY(165px) translateX(92.5px);
  height: 10px;
  width: 35px;
}
.behindback2 {
  transform: rotateY(90deg) translateZ(238px) translateY(165px) translateX(-92.5px);
  height: 10px;
  width: 35px;
}
.top {
  transform: rotateX(90deg) translateZ(10px) translateX(-50px);
  height: 220px;
  width: 22px;
}
.topleft {
  transform: rotateX(90deg) translateZ(-64px) translateX(365px);
  height: 201px;
  width: 9px;
}
.topright {
  transform: rotateX(90deg) translateZ(-75px) translateX(365px);
  height: 201px;
  width: 9px;
}
.top2 {
  transform: rotateX(90deg) translateZ(-90px) translateX(255px);
  height: 150px;
  width: 110px;
}
.bottom2 {
  transform: rotateX(90deg) translateZ(-65px) translateX(-50px);
  height: 220px;
  width: 22px;
}
.window {
  transform: rotateY(90deg) rotateX(50deg) translateZ(-62px) translateY(55px);
  height: 100px;
  width: 220px;
}
.roof {
  transform: rotateX(90deg) translateZ(-25px) translateX(-27px);
  height: 150px;
  width: 100px;
}
.bottom {
  transform: rotateX(-90deg) translateZ(100px) translateX(-26px);
  width: 400px;
  height: 150px;
}
.bottom3 {
  transform: rotateX(-90deg) translateZ(65px) translateX(75px);
  width: 180px;
  height: 220px;
}
.bottom4 {
  transform: rotateX(-90deg) translateZ(55px) translateX(75px);
  width: 180px;
  height: 220px;
}